<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/mapStyle.css">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>

    {{>sidebar}}

    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            {{!-- <div class="search">
                <label>
                    <input type="text" placeholder="Search Area,City,lattitude-longitude">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div> --}}

            {{!-- <div class="user">
                <img src="/images/customer01.jpg" alt="">
            </div> --}}
        </div>

        <!--The div element for the map -->
        <div id="map"></div>

    </div>

    <script src="/js/sidebarScript.js"></script>
    <script type="module" src="/js/mapScript.js"></script>


    <!-- =========Google Maps Script========= -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyDqTGXFRBYB2cisvryKfi7RpoYU3xpm1es", v: "beta"});</script>


    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>